@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="Problema4_Muestra" method="post">
    <label for="numero1">Ingrese litros consumidos</label>
    <input type="text" name="numero1" placeholder="Litros" />
    <br>
    <label for="numero2">Ingrese KM recorridos</label>
    <input type="text" name="numero2" placeholder="Km" />
    <br>
    <input type="submit" class="btn btn-primary" />
</form>