@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Resolucion Problema 1</h1>
<h3>Ingrese un numero para calcular el cuadrado</h3>

<form asp-action="Problema1_Muestra" method="post">
    <label for="numero">Ingrese numero</label>
    <input type="text" name="numero" placeholder="Numero"/>
    <br>
    <input type="submit" class="btn btn-primary"/>
</form>